@import url(./resetcss.css);

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 3.5rem;
  align-items: center;
}
.divheader {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  margin: 0 2rem 0 2rem;
  align-items: center;
}
header {
  max-width: 1980px;
}
.search-area {
  display: flex;
  flex-flow: row nowrap;
  height: 2rem;
  width: 404px;
  height: 40px;
}
.search-area button {
  background-color: #F8F8F8;
  border: 1px solid #CCCCCC;
  width: 3rem;
  cursor: pointer;
}
.search-area img {
  height: 20px;
}
#search-box {
  width: 348px;
  border: 1px solid #CCCCCC;
}

article {
  margin-left: 80px;
  flex-grow: 1;
  min-width: 550px;
  max-width: 1420px;
}
h1 {
  font-weight: 600;
  font-size: 20px;
}
h2, h3 {
  font-weight: 600;
  font-size: 14px;
}
h3 {
  cursor: pointer;
}

main {
  display: flex;
  gap: 1.3rem;
  margin-top: 1.5rem;
}

.avatar {
  width: 2rem;
  height: auto;
  border-radius: 50%;
}

.video-options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.5rem;
}

.video-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.video-actions button {
  height: 40px;
  width: 159px;
  border: none;
  background-color: #CC0000;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.video-actions span {
  font-weight: 600;
  font-size: 14px;
}
.video-actions span > b{
  color: #515151;
  font-weight: 400;
}
#video-description {
  width: 550px;
  font-weight: 400;
  font-size: 14px;
  color: #515151;
}

.auto-iframe {
  max-width: 1420px;
  margin: 0 0;
}

.embed {
  position: relative;
  padding-bottom: 56%;
  height: 0px;
}

.embed iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

aside{
  display: flex;
  flex-flow: column;
  row-gap: 0.7rem;
  padding-right: 20px;
  max-width: 25rem;
  margin-right: 2rem;
}
.aside-thumb {
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
}
.thumb-img {
  width: 160px;
  height: 90px;
}
.aside-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.aside-text h3 {
  margin: 0;
}
.aside-text p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
}